/* first page*/
header{

}
#bg{
	background-color: red;
}
/*
button{
	color: gold;
	background-color: black;
	border: none;
}
*/

.viewer{
	display: block;
	height: 60vh;
	width: 30vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 60vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

figure{
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

.firstthumb{
	margin-left: 24vw;
}
